# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
mlafsenv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Environment variables
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
*.bak

# Package distribution
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# MyPy and coverage
.mypy_cache/
.coverage
htmlcov/

# SQLite database
*.sqlite3

# Cache
.cache/